Checks: -*,
        bugprone-*,
        -bugprone-assignment-in-if-condition,
        -bugprone-branch-clone,
        -bugprone-easily-swappable-parameters,
        -bugprone-implicit-widening-of-multiplication-result,
        -bugprone-narrowing-conversions,
        -bugprone-reserved-identifier,
        clang-analyzer-*,
        -clang-analyzer-apiModeling.*,
        -clang-analyzer-optin.osx.*,
        -clang-analyzer-optin.cplusplus.VirtualCall,
        -clang-analyzer-webkit.*,
        -google-*,
        misc-*,
        -misc-definitions-in-headers,
        -misc-include-cleaner,
        -misc-no-recursion,
        -misc-use-anonymous-namespace,
        -misc-non-private-member-variables-in-classes,
        performance-*,
        -performance-enum-size,
        -performance-no-int-to-ptr,
        readability-*,
        -readability-avoid-const-params-in-decls,
        -readability-avoid-nested-conditional-operator,
        -readability-else-after-return,
        -readability-function-cognitive-complexity,
        -readability-function-size,
        -readability-identifier-length,
        -readability-implicit-bool-conversion,
        -readability-isolate-declaration,
        -readability-magic-numbers,
        -readability-math-missing-parentheses,
        -readability-named-parameter,
        -readability-qualified-auto,
        -readability-redundant-casting,
        -readability-simplify-boolean-expr,
        -readability-static-accessed-through-instance,
        -readability-use-std-min-max,
CheckOptions:
    - key: bugprone-reserved-identifier.AllowedIdentifiers
      value: '__ICalTriggerType_;__ICalTimeType_;__ICalRecurrenceType_;__ICalPeriodType_;__ICalDurationType_'
