# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autoupdate_schedule: monthly

exclude: ^(test-data/|zoneinfo/)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-xml
  - id: check-yaml
    args: [--allow-multiple-documents]
    exclude: ^(.clang-tidy)
  - id: check-json
  - id: check-symlinks
  - id: destroyed-symlinks
  - id: check-executables-have-shebangs
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.0
  hooks:
  - id: clang-format
    exclude: ^(src/java/|src/Net-ICal-Libical|src/libical/astime.h|src/libical/caldate.c|src/libicalvcal/port.h|src/libicalvcal/vcaltmp|src/libicalvcal/vcc|src/libicalvcal/vobject)
- repo: https://github.com/PyCQA/pylint
  rev: v3.3.1
  hooks:
  - id: pylint
    exclude: ^(.cmake-format.py)
- repo: https://github.com/hhatto/autopep8
  rev: v2.3.1
  hooks:
  - id: autopep8
    exclude: ^(.cmake-format.py)
- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-lint
    exclude: (cmake/Toolchain-|.h.cmake|/Doxyfile.cmake)
  - id: cmake-format
    exclude: (cmake/Toolchain-|.h.cmake|/Doxyfile.cmake)
- repo: https://github.com/markdownlint/markdownlint
  rev: v0.12.0
  hooks:
  - id: markdownlint
    entry: mdl
    language: ruby
    files: \.(md|mdown|markdown)$
- repo: https://github.com/fsfe/reuse-tool
  rev: v4.0.3
  hooks:
  - id: reuse
    args: [--suppress-deprecation]
